Flow 1 - Creating dynamic link and sent with mail.json
{"id":"fc19a6e6-e620-4fd3-aa4a-a0411f7b5781","brandColor":"#8C3900","connectionReferences":{"shared_office365_1":{"connection":{"id":"/contoso_sharedoffice365_226ac"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Creating_dynamic_link_and_sent_with_mail","operationDefinition":{"type":"Scope","actions":{"Triggerlink_of_Flow_2":{"type":"Compose","inputs":"https://prod-24.switzerlandnorth.logic.azure.com:443/workflows/0cd460d079a/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=XesTAN9AGX7y5Ss4z34uAoDckI4Dgstn5B3e6q3MoJA","runAfter":{}},"Key_for_Deeplinking":{"type":"Compose","inputs":"MAIL=@{triggerBody()['text']}","runAfter":{"Triggerlink_of_Flow_2":["Succeeded"]}},"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text']","emailMessage/Subject":"Test","emailMessage/Body":"@outputs('Mailbody_as_HTML_with_Link')","emailMessage/Importance":"Normal"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Mailbody_as_HTML_with_Link":["Succeeded"]},"metadata":{"operationMetadataId":"04d9d189-328b-4f34-b438-99f254a808ea"}},"Mailbody_as_HTML_with_Link":{"type":"Compose","inputs":"<p><a href=\"@{outputs('Triggerlink_of_Flow_2')}&@{outputs('Key_for_Deeplinking')}\">Testlink</a>&nbsp;</p>","runAfter":{"Key_for_Deeplinking":["Succeeded"]}}},"runAfter":{}}}
