Flow 2 - Creating dynamic form.json
{"id":"3e62eb6f-35e5-4adb-a59f-b4e567316fcf","brandColor":"#8C3900","connectionReferences":{},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Creating_dynamic_form","operationDefinition":{"type":"Scope","actions":{"Response":{"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"content-type":"text/html"},"body":"@outputs('HTML')"},"runAfter":{"HTML":["Succeeded"]},"metadata":{"operationMetadataId":"a7512aa2-502d-42d1-a8b3-49df3fe427db"}},"HTML":{"type":"Compose","inputs":"<!DOCTYPE html>\n<html>\n <head>\n <title>5K & 10K Registration Form</title>\n <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\" integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n <style>\n html, body {\n min-height: 100%;\n }\n body, div, form, input, select, textarea, label { \n padding: 0;\n margin: 0;\n outline: none;\n font-family: Roboto, Arial, sans-serif;\n font-size: 14px;\n color: #666;\n line-height: 22px;\n }\n h1 {\n position: absolute;\n margin: 0;\n font-size: 40px;\n color: #fff;\n z-index: 2;\n line-height: 83px;\n }\n .testbox {\n display: flex;\n justify-content: center;\n align-items: center;\n height: inherit;\n padding: 20px;\n }\n form {\n width: 100%;\n padding: 20px;\n border-radius: 6px;\n background: #fff;\n box-shadow: 0 0 8px #cc7a00; \n }\n .banner {\n position: relative;\n height: 300px;\n background-image: url(\"/uploads/media/default/0001/02/234656e7acbca4625305dd37e7344af8eff32383.jpeg\"); \n background-size: cover;\n display: flex;\n justify-content: center;\n align-items: center;\n text-align: center;\n }\n .banner::after {\n content: \"\";\n background-color: rgba(0, 0, 0, 0.2); \n position: absolute;\n width: 100%;\n height: 100%;\n }\n input, select, textarea {\n margin-bottom: 10px;\n border: 1px solid #ccc;\n border-radius: 3px;\n }\n input {\n width: calc(100% - 10px);\n padding: 5px;\n }\n input[type=\"date\"] {\n padding: 4px 5px;\n }\n textarea {\n width: calc(100% - 12px);\n padding: 5px;\n }\n .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {\n color: #cc7a00;\n }\n .item input:hover, .item select:hover, .item textarea:hover {\n border: 1px solid transparent;\n box-shadow: 0 0 3px 0 #cc7a00;\n color: #cc7a00;\n }\n .item {\n position: relative;\n margin: 10px 0;\n }\n .item span {\n color: red;\n }\n input[type=\"date\"]::-webkit-inner-spin-button {\n display: none;\n }\n .item i, input[type=\"date\"]::-webkit-calendar-picker-indicator {\n position: absolute;\n font-size: 20px;\n color: #cc7a00;\n }\n .item i {\n right: 1%;\n top: 30px;\n z-index: 1;\n }\n [type=\"date\"]::-webkit-calendar-picker-indicator {\n right: 1%;\n z-index: 2;\n opacity: 0;\n cursor: pointer;\n }\n input[type=radio], input[type=checkbox] {\n display: none;\n }\n label.radio {\n position: relative;\n display: inline-block;\n margin: 5px 20px 15px 0;\n cursor: pointer;\n }\n .question span {\n margin-left: 30px;\n }\n .question-answer label {\n display: block;\n }\n label.radio:before {\n content: \"\";\n position: absolute;\n left: 0;\n width: 17px;\n height: 17px;\n border-radius: 50%;\n border: 2px solid #ccc;\n }\n input[type=radio]:checked + label:before, label.radio:hover:before {\n border: 2px solid #cc7a00;\n }\n label.radio:after {\n content: \"\";\n position: absolute;\n top: 6px;\n left: 5px;\n width: 8px;\n height: 4px;\n border: 3px solid #cc7a00;\n border-top: none;\n border-right: none;\n transform: rotate(-45deg);\n opacity: 0;\n }\n input[type=radio]:checked + label:after {\n opacity: 1;\n }\n .btn-block {\n margin-top: 10px;\n text-align: center;\n }\n button {\n width: 150px;\n padding: 10px;\n border: none;\n border-radius: 5px; \n background: #cc7a00;\n font-size: 16px;\n color: #fff;\n cursor: pointer;\n }\n button:hover {\n background: #ff9800;\n }\n @media (min-width: 568px) {\n .name-item, .city-item {\n display: flex;\n flex-wrap: wrap;\n justify-content: space-between;\n }\n .name-item input, .name-item div {\n width: calc(50% - 20px);\n }\n .name-item div input {\n width:97%;}\n .name-item div label {\n display:block;\n padding-bottom:5px;\n }\n }\n </style>\n </head>\n <body>\n <div class=\"testbox\">\n <form action=\"https://prod-07.switzerlandnorth.logic.azure.com:443/workflows/332a73e69e/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=L-9AIxOiqm-2a6cwkw9p_RsjaSg2-DCwQLPpybD2Two\" method=\"POST\" > \n <div class=\"banner\">\n <h1>5K & 10K Registration Form</h1>\n </div>\n <p>Runner Information</p>\n <div class=\"item\">\n <label for=\"name\">Name<span>*</span></label>\n <input id=\"name\" type=\"text\" name=\"name\" required/>\n </div>\n <div class=\"item\">\n <label for=\"email\">Email Address<span>*</span></label>\n <input id=\"email\" type=\"email\" name=\"email\" required/>\n </div>\n <div class=\"item\">\n <label for=\"address\">Address<span>*</span></label>\n <input id=\"address\" type=\"address\" name=\"address\" required/>\n </div>\n <div class=\"item\">\n <label for=\"city\">City<span>*</span></label>\n <input id=\"city\" type=\"text\" name=\"city\" required/>\n </div>\n <div class=\"item\">\n <label for=\"state\">State<span>*</span></label>\n <input id=\"state\" type=\"text\" name=\"state\" required/>\n </div>\n <div class=\"item\">\n <label for=\"zip\">Zip<span>*</span></label>\n <input id=\"zip\" type=\"text\" name=\"zip\" required/>\n </div>\n <div class=\"item\">\n <label for=\"phone\">Phone<span>*</span></label>\n <input id=\"phone\" type=\"number\" name=\"phone\" required/>\n </div>\n <div class=\"item\">\n <label for=\"bdate\">Date of Birth<span>*</span></label>\n <input id=\"bdate\" type=\"date\" name=\"bdate\" required/>\n <i class=\"fas fa-calendar-alt\"></i>\n </div>\n <div class=\"question\">\n <label>Gender</label>\n <div class=\"question-answer\">\n <div>\n <input type=\"radio\" value=\"none\" id=\"radio_1\" name=\"gender\"/>\n <label for=\"radio_1\" class=\"radio\"><span>Male</span></label>\n </div>\n <div>\n <input type=\"radio\" value=\"none\" id=\"radio_2\" name=\"gender\"/>\n <label for=\"radio_2\" class=\"radio\"><span>Female</span></label>\n </div>\n </div>\n </div>\n <div class=\"item\">\n <p>T-Shirt Size</p>\n <select>\n <option selected value=\"\" disabled selected></option>\n @{outputs('dynamic_ShirtSize')}\n </select>\n </div>\n <div class=\"question\">\n <label>Choose Race</label>\n <div class=\"question-answer\">\n <div>\n <input type=\"radio\" value=\"none\" id=\"radio_3\" name=\"race\"/>\n <label for=\"radio_3\" class=\"radio\"><span>5k - $25</span></label>\n </div>\n <div>\n <input type=\"radio\" value=\"none\" id=\"radio_4\" name=\"race\"/>\n <label for=\"radio_4\" class=\"radio\"><span>10K - $25</span></label>\n </div>\n <div>\n<input type=\"file\" id=\"files\" name=\"files\" multiple>\n </div>\n </div>\n </div>\n<input type=\"hidden\" id=\"MAIL\" name=\"MAIL\" value=\"@{outputs('Key_from_Deeplinking_-_1._Flow')}\">\n <div class=\"btn-block\">\n <button type=\"submit\" href=\"/\">SUBMIT</button>\n </div> \n </form>\n </div>\n </body>\n</html>","runAfter":{"dynamic_ShirtSize":["Succeeded"]},"metadata":{"operationMetadataId":"ca6d8fc4-2adf-4803-8430-c6e23f27b18d"}},"dynamic_ShirtSize":{"type":"Compose","inputs":" <option value=\"course-type\" >Small</option>\n <option value=\"short-courses\">Medium</option>\n <option value=\"featured-courses\">Large</option>\n <option value=\"undergraduate\">Extra Large</option>","runAfter":{"Key_from_Deeplinking_-_1._Flow":["Succeeded"]},"metadata":{"operationMetadataId":"3f10bc59-c3a2-4421-9710-1aecc66ad914"}},"Key_from_Deeplinking_-_1._Flow":{"type":"Compose","inputs":"@triggerOutputs()?['queries']?['MAIL']","runAfter":{},"description":"@{triggerOutputs()?['queries']?['MAIL']}","metadata":{"operationMetadataId":"6c93aef1-4d68-4f90-b1e5-0a5d69782768"}}},"runAfter":{},"metadata":{"operationMetadataId":"05ccfeee-8da9-4140-9041-dfeff999e956"}}}
