v2 Flow - get response with attachments.json
{"id":"d8dffb2b-e391-467d-94e6-9207fc36fbf8","brandColor":"#8C3900","connectionReferences":{"shared_onedriveforbusiness":{"connection":{"id":"/new_sharedonedriveforbusiness_58eca"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"dynamic_response","operationDefinition":{"type":"Scope","actions":{"Parse_JSON":{"type":"ParseJson","inputs":{"content":"@triggerBody()?['$multipart']","schema":{"type":"array","items":{"type":"object","properties":{"headers":{"type":"object","properties":{"Content-Disposition":{"type":"string"}}},"body":{"type":"object","properties":{"$content-type":{"type":"string"},"$content":{"type":"string"}}}},"required":["headers","body"]}}},"runAfter":{},"metadata":{"operationMetadataId":"a70169b0-5d8b-4bc6-8e1f-428fb58d2d80"}},"Filter_array_-_information":{"type":"Query","inputs":{"from":"@body('Parse_JSON')","where":"@not(contains(item()['headers']?['Content-Disposition'], 'filename'))"},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"77bfbac6-847f-4e3b-b3ea-de018201484f"}},"Apply_to_each":{"type":"Foreach","foreach":"@body('Filter_array_-_information')","actions":{"Append_to_string_variable":{"type":"AppendToStringVariable","inputs":{"name":"varIncome","value":"\"@{slice(items('Apply_to_each')?['headers']?['Content-Disposition'], add(indexOf(items('Apply_to_each')?['headers']?['Content-Disposition'], '\"'), 1), nthIndexOf(items('Apply_to_each')?['headers']?['Content-Disposition'], '\\', 2))}\":\"@{base64ToString(item()?['body']?['$content'])}\","},"runAfter":{},"metadata":{"operationMetadataId":"e8d0f9ef-0fb2-4d56-a308-c14012f1f24a"}}},"runAfter":{"Filter_array_-_information":["Succeeded"]},"metadata":{"operationMetadataId":"facfccaf-6361-421b-9acd-e6d989b950e2"}},"Parse_JSON_2":{"type":"ParseJson","inputs":{"content":"@json(concat('{',variables('varIncome'),'}'))","schema":{}},"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"7eeaab52-ec11-4a5f-9850-ccc938bcb8b2"}},"Filter_array_-_attachments":{"type":"Query","inputs":{"from":"@body('Parse_JSON')","where":"@contains(item()['headers']?['Content-Disposition'], 'filename')"},"runAfter":{"Parse_JSON_2":["Succeeded"]},"metadata":{"operationMetadataId":"4a8d5303-9a5d-4e2f-985f-8c9efc797f9f"}},"Apply_to_each_2":{"type":"Foreach","foreach":"@body('Filter_array_-_attachments')","actions":{"Create_file":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/löschen","name":"@slice(items('Apply_to_each_2')?['headers']?['Content-Disposition'], add(nthIndexOf(items('Apply_to_each_2')?['headers']?['Content-Disposition'], '\"', 3), 1), nthIndexOf(items('Apply_to_each_2')?['headers']?['Content-Disposition'], '\\', 4))","body":"@items('Apply_to_each_2')?['body']"},"authentication":"@parameters('$authentication')"},"runAfter":{},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"cd59df12-706f-47b6-b255-5cf004e8c2e5"}}},"runAfter":{"Filter_array_-_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"445ce948-759a-42b8-af0b-9ace340b55cf"}}},"runAfter":{"Initialize_variable":["Succeeded"]}}}
